<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uaap">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Manage.LeaguesTeamsActivity"></activity>
        <activity
            android:name=".Manage.EditLeagueActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Manage.EvaluationSummary"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Manage.AddLeague"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Manage.AddTeam"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Evaluation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EvaluatorDetails"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EvaluatorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Manage.TeamsDashboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Manage.ManageDashboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
